<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.jondayley.screenTimer</string>
	<key>Program</key>
	<string>/Users/cadnza/Repos/screenTimer/main.sh</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/com.jondayley.screenTimer.stderr</string>
	<key>StandardOutPath</key>
	<string>/tmp/com.jondayley.screenTimer.stdout</string>
</dict>
</plist>
